REACT_APP_FIREBASE_API_KEY=AIzaSyCl-w8lOqUnOV1Del22js2783sYgapd4hw
REACT_APP_FIREBASE_AUTH_DOMAIN=hardwareadmin-e1793.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=hardwareadmin-e1793
REACT_APP_FIREBASE_STORAGE_BUCKET=hardwareadmin-e1793.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=766517921633
REACT_APP_FIREBASE_APP_ID=1:766517921633:web:3017689bbef4cffdd42720
